name: "publish npm"

on: push

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v2
            - name: node
              uses: actions/setup-node@v2
              with:
                  node-version: 14
                  registry-url: https://registry.npmjs.org
            - name: Set Git identity for version bump
              run: |
                git config user.email "michael.denton@jet2.com"
                git config user.name "Michael"

            - name: Bump version
              run: npm version patch
            - name: publish
              run: npm publish --access public
              working-directory: my-package
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
